@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Pacifico&family=Poppins:wght@500;600;700&display=swap');

$greenColor: #97be10;
$orangeColor: #ffb400;
$grayColor: #393939;
$padding15: 15px;
$lightGray: #bbb;
$bgColor: #f1f1f1;
$mainGray: #141414;

@mixin buttonStyle {
  border-radius: 25px;
  background-color: $greenColor;
  padding: 12px 18px;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

@mixin noneSelector {
  -moz-user-select: none;
  -website-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

@mixin listStyle {
  display: flex;
  list-style: none;
  flex-direction: column;
  cursor: pointer;
}

html,
body,
#root,
.app,
#id {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  @include noneSelector;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: $bgColor;
}

.app {
  width: 1024px;
  margin: 0 auto;
  background-color: white;
  display: flex;
}

nav {
  width: 20%;
  height: 100%;
  padding: $padding15;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid $bgColor;
  color: $grayColor;

  h1 {
    padding: $padding15;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    transform: rotate(-10deg);
  }

  ul {
    @include listStyle;

    margin-top: -120px;
  }

  li {
    padding: $padding15;
    font-weight: 700;
  }

  li:hover {
    background-color: $greenColor;
    color: white;
  }

  #icon {
    padding: $padding15;
  }
}

.movieMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  color: $mainGray;

  h1 {
    letter-spacing: 5px;
    font-weight: 700;
  }

  span {
    color: $lightGray;
  }
}

#login {
  color: white;
  background-color: $orangeColor;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 40px;
    font-size: 50px;
  }

  button {
    display: flex;
    align-items: center;

    @include buttonStyle;
  }
}
