@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@500;600;700;800;900&display=swap');

/* stylelint-disable no-descending-specificity */

$greenColor: #97be10;
$greenColorTransparent: #98be1077;
$orangeColor: #ffb400;
$grayColor: #393939;
$padding15: 15px;
$lightGray: #bbb;
$bgColor: #f1f1f1;
$mainGray: #141414;

@mixin buttonStyle {
  border-radius: 25px;
  background-color: $greenColor;
  padding: 12px 18px;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

@mixin noneSelector {
  -moz-user-select: none;
  -website-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

@mixin listStyle {
  display: flex;
  list-style: none;
  flex-direction: column;
  cursor: pointer;
}

@mixin hoverStyle {
  cursor: pointer;
  background-color: $greenColor;
}

html,
body,
#root,
.app,
#id {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  @include noneSelector;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: $bgColor;
}

.app {
  width: 1024px;
  margin: 0 auto;
  background-color: white;
  display: flex;
}

nav {
  width: 20%;
  height: 100%;
  padding: $padding15;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid $bgColor;
  color: $grayColor;

  h1 {
    padding-left: $padding15;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    transform: rotate(-10deg);
  }

  ul {
    @include listStyle;

    margin-top: -205px;
  }

  li {
    padding: $padding15;
    font-weight: 700;
  }

  li:hover {
    background-color: $greenColor;
    color: white;
  }

  #icon {
    padding: $padding15;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #copyright {
    padding: $padding15;
    font-size: 10px;
  }
}

#movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;

  h3 {
    padding: $padding15;
    border-bottom: 1px solid $bgColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
  }

  #movieImg {
    border-radius: 100px;
    background-color: $bgColor;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 200px;
    }
  }

  #movieImg:hover {
    @include hoverStyle;
  }

  span {
    padding: $padding15;
    font-size: 12px;
    text-align: center;
  }

  #social {
    :nth-child(2) {
      margin: 0 5px;
    }
  }
}

#login {
  color: white;
  background-color: $orangeColor;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: inherit;

  h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 40px;
    font-size: 50px;
  }

  button {
    display: flex;
    align-items: center;

    @include buttonStyle;
  }

  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $bgColor;
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }
}

.movieMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  color: $mainGray;

  h1 {
    letter-spacing: 5px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
  }

  span {
    color: $lightGray;
  }

  #movieSet {
    display: flex;
    width: 100%;
    padding: 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    button {
      border: none;
      background-color: $bgColor;
      margin-top: 80px;
    }

    #leftSide {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 20px 20px 20px 40px;
    }

    #rightSide {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 20px 40px 20px 20px;
    }

    button:hover {
      @include hoverStyle;
    }
  }
}

#details {
  display: flex;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  color: #141414;
  height: 100%;

  #dImage {
    width: 60%;
    height: inherit;
    text-align: center;

    img {
      width: 70%;
    }
  }

  #payingDetail {
    width: 40%;
    height: inherit;
    padding: 0 40px;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      align-items: center;
    }

    span {
      font-size: 11px;
      font-weight: 400;
    }

    #bgGray {
      background-color: $bgColor;
    }

    input {
      padding: 5px;
      border: 1px solid  $bgColor;
      background-color: $bgColor;
      font-size: 12px;
    }

    button {
      @include buttonStyle;

      margin-top: 50px;
    }
  }

  #payingDetail :nth-child(7) {
    margin: 10px 0;
    font-size: 12px;
  }

  #payingDetail div:first-child {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 40px;
  }

  #payingDetail :nth-child(6) {
    justify-content: flex-start;

    :first-child {
      font-weight: bold;
      margin-right: 10px;
    }

    > * {
      font-size: 13px;
    }
  }
}

#appointment {
  width: inherit;
  position: absolute;
  background-color: $greenColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;

  h1 {
    letter-spacing: 5px;
    margin-top: 5rem;
  }

  button {
    @include buttonStyle;

    background-color: white;
    color: $greenColor;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 3rem;

    select {
      width: 200px;
      border: 1px solid $bgColor;
      background-color: $greenColor;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, #c7c7c7 0), linear-gradient(135deg, #c7c7c7 50%, transparent 0), linear-gradient(90deg, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 0;
      background-repeat: no-repeat;
      padding: 0 10px;
      border-radius: 25px;
      color: white;
    }
  }
}
